nav {
    background-color:black;
    height:50px;
    color: white;
    padding-left: 25px;
    width: 100%;
    position: sticky;
    top: 0;
    
}
nav h1{
    padding: 10px;
}

.test{
    margin: 25px;
}

